<div class="container">
    <h1 class="h1">Available Crypto Trades</h1>
    <div class="row">
      <h4 class="h4">Bitcoin</h4>
      <hr>
      <br>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/trade2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">John Wilson</h5>
                  <p class="card-text">Description Message.</p>
                  <div class="d-grid gap-2">
                    <a routerLink="/details" class="btn btn-primary">Get Details</a>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/trade2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Kevin Jonas</h5>
                  <p class="card-text">Description Message.</p>
                  <div class="d-grid gap-2">
                    <a routerLink="/details" class="btn btn-primary">Get Details</a>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="../../assets/images/trade2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ron Jonas</h5>
                <p class="card-text">Description Message.</p>
                <div class="d-grid gap-2">
                  <a routerLink="/details" class="btn btn-primary">Get Details</a>
                </div>
              </div>
            </div>
      </div>
      </div>
      <br>
      <div class="row">
        <h4 class="h4">Dogecoin</h4>
        <hr>
        <br>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/trade2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Kevin Jonas</h5>
                  <p class="card-text">Description Message.</p>
                  <div class="d-grid gap-2">
                    <a routerLink="/details" class="btn btn-primary">Get Details</a>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/trade2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Arthur Hilton</h5>
                  <p class="card-text">Description Message.</p>
                  <div class="d-grid gap-2">
                    <a routerLink="/details" class="btn btn-primary">Get Details</a>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
              <img src="../../assets/images/trade2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Joe Hilton</h5>
                <p class="card-text">Description Message.</p>
                <div class="d-grid gap-2">
                  <a routerLink="/details" class="btn btn-primary">Get Details</a>
                </div>
              </div>
            </div>
      </div>
      </div>
</div>