<div class="container">
  <h1 class="h1">Available Crypto Trades</h1>
  <div *ngFor="let map of tradeMap | keyvalue">
    <br>
    <div class="row">
      <h4 class="h4">{{map.key}}</h4>
      <hr>
      <div class="col-4" *ngFor="let data of map.value">
        <br>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/images/trade2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{data.firstName}} {{data.lastName}}</h5>
            <p class="card-text"><b>Description:</b> {{data.description}}.</p>
            <div class="d-grid gap-2">
              <a routerLink="/details" class="btn btn-primary">Get Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>