<div class="container">
    <h1 class="display-9">Your Available trades</h1>
    <div class="form-check" *ngFor="let data of trade">
        <input class="form-check-input" type="radio" name="TradeRadio" id="TradeRadio" value="{{data}}" [(ngModel)]="data.value" (change)="onItemChange(data)">
        <label class="form-check-label" for="TradeRadio">
        {{data.type}}
        </label>
    </div>
    <button type="button" class="btn btn-warning" (click)="onContinueClicked()">Continue</button>
</div>