<h1 class="display-1">Edit Trade {{trade.type}}</h1>
<form class="row g-3" [formGroup]="tradeForm">
    <div class="col-md-6">
        <label class="form-label">First Name</label>
        <input type="name" class="form-control" id="inputFName4" formControlName="firstName">
      </div>
      <div class="col-md-6">
        <label class="form-label">Last Name</label>
        <input type="name" class="form-control" id="inputLName4" formControlName="lastName">
      </div>
    <div class="col-12">
      <label for="inputDescription" class="form-label">Description</label>
      <textarea rows="5" type="textarea" class="form-control" id="inputDescription" formControlName="description" >
      </textarea>
    </div>
    <div class="col-md-6">
      <label for="inputQuantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="inputQuantity" formControlName="quantity">
    </div>
    <div class="col-12">
      <button type="submit"  (click)="onEditClicked()" class="btn btn-primary">Edit</button>
    </div>
</form>