<div class="container">
    <h1 class="h1">Welcome to Niner Crypto Trade</h1>
    <p class="lead">Students can trade their crypto currencies with other niners.</p>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/trade2.jpg" class="d-block" height="500px" width ="1000" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/trade3.jpg" class="d-block" height="500px" width ="1000" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
