<div class="container">
    <div class="card-body bg-light" style="width: 750px;">
        <div class="dropdown">
            <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
        <h2 class="h2">Dogecoin</h2>
        <img src="../../assets/images/cryptocurrencies.png"/>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><p class="lead"><b>Name:</b> John Wilson</p></li>
            <li class="list-group-item"><p class="lead"><b>Description:</b> Dogecoin</p></li>
            <li class="list-group-item"><p class="lead"><b>Quantity:</b> 5</p></li>
        </ul>
        <div class="d-grid gap-2">
            <button class="btn btn-success btn-lg" type="button">Trade</button>
            <button class="btn btn-primary btn-lg" type="button">Rate it</button>
        </div>
    </div>
</div>