<h1 class="display-1">Create Trade</h1>
<form class="row g-3">
    <div class="col-md-6">
        <label class="form-label">First Name</label>
        <input type="name" class="form-control" id="inputFName4">
      </div>
      <div class="col-md-6">
        <label class="form-label">Last Name</label>
        <input type="name" class="form-control" id="inputLName4">
      </div>
    <div class="col-12">
      <label for="inputDescription" class="form-label">Description</label>
      <textarea rows="5" type="textarea" class="form-control" id="inputDescription">
      </textarea>
    </div>
    <div class="col-md-6">
      <label for="inputQuantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="inputQuantity">
    </div>
    <div class="col-md-4">
      <label for="inputType" class="form-label">Crypto</label>
      <select id="inputType" class="form-select">
        <option selected>Choose...</option>
        <option>Bitcoin</option>
        <option>Dogecoin</option>
        <option>Ethereum</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" routerLink="/trade">Create</button>
    </div>
  </form>