<h1 class="display-1">Create Trade</h1>
<form class="row g-3">
    <div class="col-md-6">
        <label class="form-label">First Name</label>
        <input type="name" class="form-control" id="inputFName4">
      </div>
      <div class="col-md-6">
        <label class="form-label">Last Name</label>
        <input type="name" class="form-control" id="inputLName4">
      </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-6">
      <label for="inputQuantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="inputQuantity">
    </div>
    <div class="col-md-4">
      <label for="inputType" class="form-label">Crypto</label>
      <select id="inputType" class="form-select">
        <option selected>Choose...</option>
        <option>Bitcoin</option>
        <option>Dogecoin</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" routerLink="/trade">Create</button>
    </div>
  </form>